---
---
<div class="flex flex-col mt-3 sm:mt-5 md:mt-6">
    <div>
        <h3 class="text-[#FF7070] font-inter font-bold text-sm sm:text-base md:text-lg lg:text-xl">
            Para la empresa
        </h3>
        <p class="font-inter text-sm sm:text-sm md:text-base lg:text-lg mt-1">
            PYMES
        </p>
        <p class="font-inter text-sm sm:text-sm md:text-base lg:text-lg">
            Grandes Empresas
        </p>

        <h3 class="text-[#FF7070] font-inter font-bold text-base sm:text-base md:text-lg lg:text-xl mt-3 md:mt-5">
            Servicios
        </h3>
        <p class="font-inter text-sm sm:text-sm md:text-base lg:text-lg mt-1">
            Diseño UI / UX
        </p>
        <p class="font-inter text-sm sm:text-sm md:text-base lg:text-lg">
            Desarrollo de Software a la medida
        </p>
    </div>

    <div class="flex flex-wrap items-center gap-x-2 mt-3 md:mt-5">
        <p class="font-inter font-bold text-xs sm:text-sm md:text-base text-[#31323D] dark:text-[#F5F5F7]">
            Slyfox S.A.S — Colombia
        </p>
    </div>
</div>
