---
import { Image } from "astro:assets"

import LogoLight from "@images/logo-slyfox-light.webp"
import LogoDark from "@images/logo-slyfox-dark.webp"

const {width , className=""} = Astro.props;
---
<div style={width ? "width: " + width : ""}>
    <Image 
        class={"dark:hidden inline " + className}
        src={LogoLight} 
        alt="Logo de la empresa Slyfox" 
    />
    <Image
        class={"hidden dark:inline " + className}
        src={LogoDark}
        alt="Logo de Slyfox"
    />
</div>

